<h1><%= title %></h1>
<p>skill groups</p>
<p>
	<span class="name"><%= name %></span>
	<a href="<%= linkTo_skillGroupEdit %>" ><%= linkTo_skillGroupEditText %></a>
	<a href="<%= linkTo_skillGroupDestroy %>" ><%= linkTo_skillGroupDestroyText %></a>
</p>