<form id="<%= form.name %>" name="<%= form.name %>" action="<%= action %>" method="POST" >
	<% if( typeof( id ) == 'number' ){ %><input type="hidden" id="id" name="id" value="<%= id %>" /> <% } %>
	<% if( form.method == "put" ){ %><input type="hidden" id="_method" name="_method" value="<%= method %>" /> <% } %>
	<p>
		<label for="name" >Name</label>
		<input type="text" id="name" name="name" value="<%= skill.name %>" />
	</p>
	<div class="clearfix" ></div>
	<p>
		<label for="attribute" >Attribute</label>
		<select id="attribute" name="attribute"><%
			 for( n in attribute ){
				 var selected = ''
				 if( !isNaN( skill.attribute ) && n == skill.attribute ) selected = 'SELECTED';
				%><option value="<%= n %>" <%= selected %>><%= attribute[n].name %></option>
			<% } %>
		</select>
		<a id="newGroup" href="/attribute/new">Create a new Attribute</a>
	</p>
	<div class="clearfix" ></div>
	<p>
		<label for="skillGroup" >Group</label>
		<select id="skillGroup" name="skillGroup"><%
			 for( n in skillGroup ){
				 var selected = ''
				 if( !isNaN( skill.skillGroup ) && n == skill.skillGroup ) selected = 'SELECTED';
				 %><option value="<%= n %>" <%= selected %>><%= skillGroup[n].name %></option>
			<% } %>
		</select>
		<a id="newGroup" href="/skillGroup/new">Create a new Skill Group</a>
	</p>
	<div class="clearfix" ></div>
	<p>
		<input type="submit" id="submit" name="submit" value="<%= submit %>" />
		<input type="reset" id="reset" name="reset" value="Reset" />
	</p>
	<div class="clearfix" ></div>
</form>