<% if( user && user.roles && user.roles.join().length > 4 ){ %>
	<div class="sidebar">
		<ul>
			<% for( n in sidebar ){ %>
				<li><a href="<%= sidebar[n].link %>"><%= sidebar[n].text %></a></li>
			<% } %>
		</ul>
	</div>
<% } %>
<% if( user && user.displayName && user.displayName != '' ){ %>
	<%- partial( 'table', { character : character }) %>
	<a href="<%= linkTo_characterNew %>"><%= linkTo_characterNewText %></a>
<% } else { %>
	<p>Login to view or create characters</p>
<% } %>

