<form id="<%= form.name %>" name="<%= form.name %>" action="<%= form.action %>" method="POST" >
	<% if( typeof( attrVals.id ) == 'number' ){ %><input type="hidden" id="id" name="id" value="<%= attrVals.id %>" /> <% } %>
	<% if( form.method == "put" ){ %><input type="hidden" id="_method" name="_method" value="<%= form.method %>" /> <% } %>
	<p>
		<label for="score" >Score</label>
		<input type="number" id="score" name="score" value="<%= attrVals.score %>" />
	</p>
	<div class="clearfix" ></div>
	<p>
		<label for="cost" >Cost</label>
		<input type="number" id="cost" name="cost" value="<%= attrVals.cost %>" />
	</p>
	<div class="clearfix" ></div>
	<p>
		<label for="die" >Die</label>
		<input type="number" id="die" name="die" value="<%= attrVals.die %>" />
	</p>
	<div class="clearfix" ></div>
	<p>
		<label for="passive" >Passive</label>
		<input type="number" id="passive" name="passive" value="<%= attrVals.passive %>" />
	</p>
	<div class="clearfix" ></div>
	<p>
		<input type="submit" id="submit" name="submit" value="<%= form.submit %>" />
		<input type="reset" id="reset" name="reset" value="Reset" />
	</p>
	<div class="clearfix" ></div>
</form>