<table cellpadding="0" cellspacing="0" border="1" frame="void" rules="all" >
	<thead>
		<tr>
			<th>Score</th>
			<th>Cost</th>
			<th>Die</th>
			<th>Passive</th>
		</tr>
	</thead>
	<tbody><%
		if( attrVals.length > 0 ){
			attrVals.forEach( function( value, key ){
				var stripe = key % 2 == 0 ? 'even' : 'odd';
				%><tr class="<%= stripe %>">
					<td><%
						// If the length is greater than 1 you must be in the index action.
						if( attrVals.length > 1 ){
							%><a href="/attrVals/<%= key %>"><%= value.score %></a><%
						} else {
						// Else you must be in the show action.
						%><%= value.score %><% }
					%></td>
					<td><%= value.cost %></td>
					<td><%= value.die %></td>
					<td><%= value.passive %></td><%
					if( edit ){
						%><td><a href="<%= linkTo_attrValsEdit %>"><%= linkTo_attrValsEditText %></a></td><%
					}
				%></tr><%
			});
		}
	%></tbody>
</table>