<table cellpadding="0" cellspacing="0" border="1" frame="void" rules="all" >
	<thead>
		<tr>
			<th>Cost</th>
			<th>Value</th>
			<th>Die</th>
			<th>Passive</th>
		</tr>
	</thead>
	<tbody><%
		if( attrVals.length > 0 ){
			attrVals.forEach( function( value, key ){
				var stripe = key % 2 == 0 ? 'even' : 'odd';
				console.log( 'value', value );
				console.log( 'key', key );
				%><tr class="<%= stripe %>">
					<td><%= value.cost %></td>
					<td><%= value.value %></td>
					<td><%= value.die %></td>
					<td><%= value.passive %></td><%
					if( edit ){
						%><td><a href="<%= linkTo_attrValsEdit %>"><%= linkTo_attrValsEditText %></a></td><%
					} %>
				</tr><%
			});
		}
	%></tbody>
</table>